* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Alata", sans-serif;
}

:root {
  --bgColor: #0e3054;
}

body {
  overflow-x: hidden;
}

.font-30 {
  font-size: 30px;
}

.font-60 {
  font-size: 60px;
}

.bg-white {
  color: white;
}

.bg-blue {
  background: #0e3054;
}

.pb-50 {
  padding-bottom: 50px;
}

.py-15 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.mr-25 {
  margin-left: 12px;
  margin-right: 12px;
}

.fa-star {
  color: goldenrod;
}

.text-center {
  text-align: center;
}

.pt-100 {
  padding-top: 50px;
  padding-bottom: 50px;
}

.pb-30 {
  padding-bottom: 30px;
}

.pb-100 {
  padding-bottom: 50px;
}

.padding-t-50 {
  padding-top: 50px;
}

.px-12 {
  padding-left: 12px;
  padding-right: 12px;
}

.py-20 {
  padding-top: 12px;
  padding-bottom: 12px;
}

.container-40 {
  margin-left: 40px;
  margin-right: 40px;
}

.container-50 {
  margin-left: 50px;
  margin-right: 50px;
}

.my-10 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.mt-0 {
  margin-top: 0px;
}

.font-20 {
  font-size: 20px;
}

.fa-instagram {
  padding: 0px 15px;
}

.fa-linkedin,
.fa-instagram,
.fa-facebook-f {
  font-size: 26px;
}

.fa-heart-icon {
  color: red;
}

.fa-brands:hover {
  color: skyblue;
}

/* navbar */

li {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: whitesmoke !important;
}

.nav-2 {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  padding: 0px 50px;
  max-height: 65px;
  transition: 1s ease-in-out;
  position: fixed;
  width: 100%;
  z-index: 9;
  background: var(--bgColor);
}

.toggle-btn {
  position: absolute;
  right: 30px;
  top: 15px;
  display: none;
}

.collapse-toggle {
  max-height: 540px;
}

.nav-brand-2 {
  font-size: 24px;
  font-weight: bolder;
  width: 120px;
}

.nav-items-2 {
  display: flex;
  align-items: center;
}

.nav-links-2 {
  padding: 20px 20px;
  font-size: 14px;
  font-weight: bold;
}

.nav-links-2:hover {
  background: var(--bgColor);
}

.nav-links-2:hover a {
  color: white;
}

.icon {
  padding: 15px 10px;
}

.icon:hover {
  color: white;
  background: var(--bgColor);
}

.text-smd {
  padding: 1px 7px;
  display: none;
}

.bg-black {
  color: #222f3c;
}

.container-60 {
  margin: 0px 60px;
}

/* end navbar */

/* another main section */

.main-image {
  border: 1px solid red;
  height: 600px;
}

.side-image {
  border: 1px solid blue;
  height: 600px;
}

.main-div {
  padding-top: 150px;
}

.main-image {
  padding: 20px;
}

.main-text-div,
.main-image-div {
  width: 50%;
}

.main-text-text {
  font-size: 50px;
  padding: 30px;
}
.shop-now-btn {
  font-size: 40px;
  color: white;
  background: blue;
  text-decoration: none;
  padding: 10px 20px;
  border: none;
  transform: translateX(50%);
}

/* another main section */

.main-section {
  padding-top: 100px;
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.image-content {
  position: absolute;
  top: 10%;
  left: 10%;
  font-size: 35px;
  color: white;
}

.big-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.banner-para {
  padding-top: 20px;
  font-size: 20px;
}

.shop-now {
  margin-top: 30px;
  padding: 12px 24px;
  font-size: 15px;
  border-radius: 10px;
  outline: none;
  border: none;
  background: black;
  color: white;
}

.big-image {
  width: 100%;
  position: relative;
}

.position-image {
  position: relative;
}

.quality-image {
  margin-bottom: 24px;
  width: 100%;
  position: relative;
}

.quality-image-2 {
  width: 100%;
  height: auto;
  position: relative;
}

.above-image {
  position: relative;
}

.below-text {
  position: absolute;
  /* bottom: 0; */
  top: 0;
  font-size: 40px;
  width: 50%;
  padding: 16px;
  /* font-weight: bold; */
  color: blue;
  line-height: 35px;
  /* text-align: center; */
}

.special-offer-text {
  color: red;
  font-size: 20px;
}

.below-image {
  position: relative;
}

.above-text {
  position: absolute;
  /* background: red; */
  bottom: 0;
  top: 0;
  font-size: 34px;
  width: 50%;
  padding: 16px;
  color: white;
  /* font-weight: bold; */
  /* text-align: center; */
  line-height: 36px;
}

.shop-now-2 {
  background: var(--bgColor);
  position: absolute;
  padding: 10px 20px;
  color: white;
  border: none;
  left: 22px;
  bottom: 20px;
}

.fa-arrow-right {
  padding-left: 10px;
}

.quality-image-2 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overflow-hide {
  overflow: hidden;
}

.image-animation {
  transition: all 0.4s ease;
}

.image-animation:hover {
  transform: scale(1.05);
}

.image {
  position: relative;
  transition: 0.3s ease-in-out;
}

.image:hover .icons {
  bottom: 40px;
}

.icons {
  text-align: center;
  position: absolute;
  bottom: -34px;
  left: 0;
  right: 0;
  transition: 0.4s ease-in-out;
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.1);
}

.icons:hover {
  margin-top: -40px;
}

.social-icons {
  height: 40px;
  width: 40px;
  background: white;
  padding: 10px 10px 10px 10px;
  display: inline;
}

.social-icons:hover {
  background: #0e3054;
  color: white;
}

/* coupons section start*/
/* .coupons {
  background: var(--bgColor);
  color: black;
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 8px 14px;
  position: absolute;
  position: fixed;
  top: 200px;
  z-index: 9;
  right: -100px;
  outline: none;
  border-radius: none;
  border-radius: 10px 0px 0px 10px;
  transform: rotate(90deg);
}

.messsage-us {
  position: absolute;
  bottom: 0;
  right: 10px;
  display: flex;
}

h4 {
  margin: none;
}

.image-area {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background: red;
}

.message-area {
  width: 300px;
  padding: 0px 20px;
  border: 2px solid black;
  background: white;
  border-radius: 15px;
} */

/* coupons section end*/

/* second shop section start */

.heading-style {
  text-align: center;
  font-size: 36px;
  font-weight: bold;
  color: #0e3054;
  margin: 0px;
}

.heading-3 {
  padding-top: 15px;
}

.product-card {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding-top: 75px;
}

.owl-nav .owl-nav-prev {
  background: t ransparent;
  font-size: 32px;
}

.owl-button {
  margin: 0px 100px;
}

.owl-nav {
  position: absolute;
  bottom: -50px;
  outline: none;
  margin: 0px auto;
  width: 100%;
}

.owl-nav {
  position: absolute;
  top: 40%;
  outline: none;
  border-radius: 50px;
}

.owl-nav-prev {
  position: absolute;
  left: -40px;
}

.owl-nav-next {
  position: absolute;
  right: -40px;
}

.card-item {
  border: 1px solid white;
  box-shadow: 0 0 2px black;
  margin-top: 10px;
  margin-bottom: 25px;
  padding: 10px 10px 15px 10px;
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2);
}

.grid-4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.partner {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  border: 1px solid black;
}

.partner-image {
  border-right: 1px solid black;
  padding: 20px 25px;
}

.partner-image:nth-child() {
  border-right: none;
}

.pet-shop {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.grid-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.secure {
  background: url("./images/bg3.jpg");
  display: flex;
  margin-left: 12px;
  margin-right: 12px;
}

.secure-icons {
  padding-top: 40px;
  padding-bottom: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
  flex-direction: column;
  flex-wrap: wrap;
}

/* footer */

.footer {
  padding-top: 15px;
  padding-bottom: 15px;
}

.footer-para {
  font-size: 20px;
  color: white;
  text-align: center;
}

.footer-social {
  display: flex;
  justify-content: center;
  align-items: center;
}

.f-icon {
  padding: 30px;
  font-size: 40px;
}

.footer-link {
  color: white;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.f-links {
  padding: 10px 15px;
}

.f-image {
  height: 40px;
  width: 200px;
}

.small-footer {
  /* padding: 0px 20px; */
  color: white;
  background: #222f3c;
  display: flex;
  justify-content: space-between;
  padding: 10px 50px;
  align-items: center;
}

/* testimonials start  */

.testimonials {
  margin-right: 40px;
  margin-left: 40px;
  padding-top: 20px;
  padding-bottom: 100px;
}

.testimonials-item {
  background: var(--bgColor);
  padding: 20px;
  padding-bottom: 0px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  border-radius: 20px;
  margin-top: 60px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.testimonial-image {
  position: relative;
  top: -40px;
}

.image-testimonial {
  object-fit: cover;
  border-radius: 10px 20px 20px 20px;
  height: 200px;
}

.testimonial-test {
  padding-left: 20px;
  color: white;
}

.testimonials-heading {
  color: lightcoral;
  margin-top: 0px;
  font-size: 20px;
}

.paragraph-hidden {
  height: 40px;
  overflow: hidden;
  position: relative;
}

/* testimonials end */

@media (max-width: 768px) {
  .main-section {
    grid-template-columns: 1fr;
    padding-top: 100px;
  }
  .container {
    margin-left: 0;
    margin-right: 0;
  }

  .quality-image {
    position: relative;
    margin-top: 10px;
  }

  .quality-image-2 {
    position: relative;
    margin-top: 10px;
  }

  .big-image {
    padding-left: 12px;
    padding-right: 12px;
    margin: 0px;
    padding-bottom: 10px;
  }
  .grid-4 {
    grid-template-columns: 1fr 1fr;
  }
  .grid-4-item {
    margin-left: 12px;
    margin-right: 12px;
    margin-bottom: 20px;
  }
  .partner {
    grid-template-columns: 3fr 3fr;
  }
  .pet-shop {
    grid-template-columns: 1fr;
    margin-right: 12px;
    margin-left: 12px;
  }
  .font-smd {
    font-size: 25px;
  }
  .grid-3 {
    grid-template-columns: 1fr;
  }
  .secure {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .image-content {
    font-size: 15px;
  }
  .banner-para {
    font-size: 13px;
    padding-top: 10px;
  }
  .shop-now {
    margin-top: 5px;
    padding: 6px 12px;
    font-size: 12px;
    border-radius: 10px;
  }

  .owl-button {
    margin: 0px 30px;
  }

  .nav-brand-2 {
    margin: 15px 0px;
  }

  .nav-links-2 {
    padding: 5px;
    text-align: center;
  }
  .icon {
    text-align: center;
    padding: 5px;
  }

  .nav-2 {
    padding-left: 50px;
  }

  .nav-2,
  .nav-items-2,
  .icon {
    display: block;
  }
  .toggle-btn {
    display: initial;
    background: transparent;
    border: none;
    color: white;
    font-size: 24px;
    right: 60px;
  }

  .font-md {
    font-size: 40px;
  }

  .footer-link {
    font-size: 13px;
  }

  .footer,
  .small-footer {
    padding: 12px;
    display: block;
    text-align: center;
    margin: 2px 0px;
  }
  .owl-nav-prev {
    left: -30px;
  }

  .owl-nav-next {
    right: -30px;
  }
  .banner-para {
    margin-bottom: 2px;
    padding-bottom: 0px;
  }

  .above-text {
    font-size: 40px;
    line-height: 45px;
  }

  .below-text {
    font-size: 50px;
    line-height: 50px;
  }
}

@media (max-width: 600px) {
  .grid-4 {
    grid-template-columns: 1fr;
  }
  .icons {
    left: 10%;
  }
  .font-smd-16 {
    font-size: 16px;
  }

  .font-smd-24 {
    font-size: 24px;
    margin-top: 2px;
    margin-bottom: 1px;
  }
  .above-text,
  .below-text {
    font-size: 20px;
    line-height: 20px;
  }
}

@media (max-width: 425px) {
  .font-20-sm {
    font-size: 20px;
  }
  .above-text,
  .below-text {
    font-size: 20px;
    line-height: 20px;
  }
  .special-offer-text {
    font-size: 15px;
    line-height: 10px;
  }
}
