* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Alata', sans-serif;
}

.mr-25 {
    margin-right: 25px;
}

.fa-star {
    color: goldenrod;
}

.text-center {
    text-align: center;
}

.pt-100 {
    padding-top: 100px;
}

.pb-30 {
    padding-bottom: 30px;
}

.pb-75 {
    padding-bottom: 75px;
}

.px-12 {
    padding-left: 12px;
    padding-right: 12px;
}

.py-20 {
    padding-top: 12px;
    padding-bottom: 12px;
}

.container {
    margin-left: 40px;
    margin-right: 40px;
}

.main-section {
    padding-top: 100px;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.image-content {
    position: absolute;
    top: 10%;
    left: 10%;
    font-size: 35px;
    color: white;
}

.banner-para {
    padding-top: 20px;
    font-size: 20px;
}

.shop-now {
    margin-top: 30px;
    padding: 12px 24px;
    font-size: 15px;
    border-radius: 10px;
    outline: none;
    border: none;
    background: black;
    color: white;
}

.big-image {
    width: 100%;
    position: relative;
}

.quality-image {
    width: 100%;
}

.small-images-grid {
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 15px;
}

.overflow-hide {
    overflow: hidden;
}

.image-animation {
    transition: all .4s ease;
}

.image-animation:hover {
    transform: scale(1.1);
}

.image {
    position: relative;
    transition: .3s ease;
}

.image:hover .icons {
    bottom: 40px;
}

.icons {
    text-align: center;
    position: absolute;
    bottom: -34px;
    left: 20%;
    transition: .4s ease-in-out;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2);
}

.icons:hover {
    margin-top: -40px;
}

.social-icons {
    height: 40px;
    width: 40px;
    background: white;
    padding: 10px 10px 10px 10px;
    display: inline;
}


/* second shop section start */

.heading-style {
    text-align: center;
    font-size: 36px;
    font-weight: bold;
}

.heading-3 {
    padding-top: 15px;
}

.product-card {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    padding-top: 75px;
}

.owl-nav .owl-nav-prev {
    background: transparent;
    font-size: 32px;
}

.owl-nav {
    position: absolute;
    bottom: -50px;
    outline: none;
    margin: 0px auto;
    width: 100%;
}

.owl-nav {
    position: absolute;
    top: 40%;
    outline: none;
    border-radius: 50px;
}

.owl-nav-prev {
    position: absolute;
    left: 0px;
}

.owl-nav-next {
    position: absolute;
    right: 0px;
}

.card-item {
    border: 1px solid white;
    box-shadow: 0 0 2px black;
    margin-top: 10px;
    margin-bottom: 25px;
    padding: 10px 10px 15px 10px;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2);
}

.grid-4 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.partner {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    border: 1px solid black;
}

.partner-image {
    border-right: 1px solid black;
    padding: 20px 25px;
}

.partner-image:nth-child() {
    border-right: none;
}

.pet-shop {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.grid-3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.secure {
    background: url('./images/bg3.jpg');
    display: flex;
}

.secure-icons {
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    flex-direction: column;
    flex-wrap: wrap;
}

@media (max-width: 768px) {
    .main-section {
        grid-template-columns: 1fr;
        padding-top: 60px;
    }
    .container {
        margin-left: 0;
        margin-right: 0;
    }
    .big-image {
        padding-left: 12px;
        padding-right: 12px;
        margin: 0px;
        padding-bottom: 10px;
    }
    .grid-4 {
        grid-template-columns: 1fr 1fr;
    }
    .grid-4-item {
        margin-left: 12px;
        margin-right: 12px;
        margin-bottom: 20px;
    }
    .partner {
        grid-template-columns: 3fr 3fr;
    }
    .pet-shop {
        grid-template-columns: 1fr;
        margin-right: 12px;
        margin-left: 12px;
    }
    .font-smd {
        font-size: 25px;
    }
    .grid-3 {
        grid-template-columns: 1fr;
    }
    .secure {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .image-content {
        font-size: 15px;
    }
    .banner-para {
        font-size: 13px;
        padding-top: 10px;
    }
    .shop-now {
        margin-top: 5px;
        padding: 6px 12px;
        font-size: 12px;
        border-radius: 10px;
    }
}

@media (max-width: 425px) {
    .grid-4 {
        grid-template-columns: 1fr;
    }
    .icons {
        left: 10%;
    }
}